
@font-face {
    font-family: 'lucida_granderegular';
    src: url('../fonts/6216-webfont.eot');
    src: url('../fonts/6216-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/6216-webfont.woff2') format('woff2'),
         url('../fonts/6216-webfont.woff') format('woff'),
         url('../fonts/6216-webfont.ttf') format('truetype'),
         url('../fonts/6216-webfont.svg#lucida_granderegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.offer-page { background: url("../images/offer-page/wht-bg.jpg") repeat scroll 0 0; font-family: 'lucida_granderegular';  }
.offer-page .headerwrapper { display:none; }
.offer-page .panel { background:none !important; }
.offer-page #mainmenu,.offer-page .mainwrapper::before { display:none;  }
.offer-page .mainpanel { width:auto; margin:0 auto !important;    }

.offer-img img { width:100%;  border-radius: 5px; margin-top: 20px; }

#home .background-overlay {  background:url("../images/offer-page/banner_bg.png") no-repeat scroll 0 0 / cover ;  padding: 13px 0 0;}
.header-title h2 {  color: #00d5f3;  display: inline-block;  margin-top: 47px;}
.big-logo {   display: inline-block;    margin: 0 auto;    vertical-align: top;}
.inner-page { padding: 50px 0;}
.offer-page .mainwrapper { position:static; top:auto;   }

.offerlist { background: #ffffff none repeat scroll 0 0;  border: 1px solid #b7b7b7;  float: left;  margin: 0 1% 2%; height: 440px;  position: relative;  width: 23%; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);  }
.offerlist img { width:100%; }	
.container-colored-line {   height: 45px;    margin: 10px auto 0;    position: relative;    width: 300px;}
hr {  margin-bottom: 20px;  margin-top: 20px; box-sizing: content-box; }
.colored-line { background-color: #fff;  border-radius: 10px;    left: 0;    margin-left: auto;    margin-right: auto;    position: absolute;    right: 0;
    top: -7px;    width: 15px;    z-index: 10;}
.colored-line, .colored-line-two {    border: 7px solid #2ec9e7;    height: 8px;    width: 8px;}
.inner-page h1 { color:#000; text-transform:uppercase; margin-bottom: 0 !important; font-family: 'lucida_granderegular'; }
.add-colored-line {  border-radius: 10px;  height: 2px; margin-top: 23px;  position: absolute;  right: 0;  width: 100%;}
.colored-line, .colored-line-two { border: 7px solid #2ec9e7 !important; height: 8px;  width: 8px;}
.screen, .add-colored-line, .add-colored-line-two, .get, #nprogress .bar, #contact p input, .subscribe, .owl-theme .owl-controls .owl-page.active span { background: #2ec9e7 none repeat scroll 0 0;}

.offer-list { margin-top:50px; }
.offer-tab { margin-bottom: 51px; padding-left: 10px; text-align:center; position:relative; }
.offer-click  { border:2px solid #3c3e44; border-radius:5px; display:inline-block;  }
.offer-tab a { padding:6px 20px; display: inline-block; border-radius:0px; background:#ffffff; color:#a1a1a1; font-size:14px; width:200px; text-align:center; border-right:2px solid #3c3e44 ; transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -ms-transition: all 0.2s ease 0s; -webkit-transition: all 0.2s ease 0s; }
.offer-click ul { list-style:none; margin:0; padding:0;  }
.offer-click ul li { float:left; }
.offer-tab a:last-child { border:0;   }
.offer-tab a.activeTab { background:#282828; color:#00d5f3;  }
.offer-tab a:hover {  }
.offer-tab select { padding:7px; border:1px solid #3c3e44 ;  background:#3c3e44; border-radius:3px; color:#00d5f3; position:absolute; right:0; }
.offer-dec { padding:15px;  }
.offer-lbl { font-weight:bold; color:#333; font-size:16px; margin-bottom:10px;  }

.offer-date { float:left; }
.offer-location { float:right; }

.offer_desc { min-height:100px; }
.view-btn { background:#2ec9e7; color:#fff; padding:8px 10px; border-radius:3px; font-size:14px; display: inline-block; margin-top: 10px; transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -ms-transition: all 0.2s ease 0s; -webkit-transition: all 0.2s ease 0s;  }
.view-btn:hover { background:#07b6cf; color:#fff;  }
/*---Footer CSS---*/
.footer {
    background: #2d3036 none repeat scroll 0 0;
    padding: 0 0 30px;
}
.footer-nav {  padding-top: 50px; text-align: left;  width: 1000px; }
.footer-nav h3 {  color: #fff; font-size: 18px; margin: 0; text-transform: uppercase;}
.footer-nav ul {  list-style: outside none none;  margin: 0;  padding: 20px 0 0;}
.footer-nav ul li {  padding-bottom: 9px;}
.footer-nav ul li a { color: #f7f2ea;  font-size: 12px;  text-transform: uppercase; }

.download-button { background: #00d5f3; border-radius: 5px;  display: inline-block;  font-size: 16px; margin-bottom: 15px; margin-right: 23px; padding: 8px 12px; 
transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -ms-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; -webkit-transition: all 0.2s ease 0s; }

.footer-nav .download-button { background: rgba(255, 255, 255, 0.25) none repeat scroll 0 0;  margin-top: 15px;  padding: 5px 9px;}
.footer p {  color: #8c8c8c;   font-size: 12px;  padding-top: 4px; }

.social-buttons {  background: #4e4e4f none repeat scroll 0 0; padding: 24px 0; text-align:center; }
.social-buttons a {  display: inline-block;  margin-right: 13px; }
.ffb_icon { background:url("../images/offer-page/fmidea-icon.png") no-repeat scroll 0 0;   height: 26px;  width: 13px; }
.ftw_icon { background:url("../images/offer-page/fmidea-icon.png") no-repeat scroll -33px -3px; height: 21px;  width: 25px;}
.fg_icon {  background: rgba(0, 0, 0, 0) url("../images/offer-page/fmidea-icon.png") no-repeat scroll -76px -3px;  height: 21px;  width: 21px;}

.offer-list-img { min-height:202px; }
.offer-details { padding-top:50px;    }
.offer-details h2 { margin-bottom:20px; }
.offer-details h6 { font-size:18px; font-weight:normal; color:#000; }
.offer-details p { margin-bottom:20px; padding-right:40px;  }

.offer-details ul { list-style:none; margin:0; padding:0; padding-left:15px; margin-bottom:15px;    } 

.offers-date { margin:20px 0 20px; padding:10px 15px; background:#f1f1f1; margin-right:40px; border:1px solid #ddd; border-radius:5px;  }
.offers-date p { display:inline-block; margin-right:20px; color:#000; font-size:14px; margin-bottom:0px !important; padding-top:5px;  }
.offers-date p label { font-weight:bold; }

.offer-location-area { border-bottom:1px solid #ddd; margin-bottom:20px; }

.app-store-link { text-align:center; }
.app-store-link a { display:inline-block;  }
.app-store-link img { width:auto !important; }
